.list-group-item:hover {
    color: #0275d8;
    border-width: 2px;
}

#weather-content-uvindex-id {
    display: inline-block !important;
}

div[class^='forecast-card'] {
    display: inline-block !important;
}